{% extends "layout.html" %}
{% block title %}Teams{% endblock %}
{% block content %}


    <h3 class="display-5 text-center mb-3 text-dark" > Teams </h3>

    {% if error == 'True' %}
      <div class="d-grid gap-2 col-5 mx-auto">
        <div class="alert center-block alert-warning alert-dismissible fade show text-center" style="width:630px" role="alert" >
          You should enter a valid data.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
    {% endif %}

    <table class="table is-striped is-fullwidth table-hover table-bordered">
        <thead class="table-light">
            <tr>
            <th>#</th>
            <th>Year</th>
            <th>League</th>
            <th>Team ID</th>
            <th>Team Name</th>
            <th>Team Rank</th>
            <th>League Win</th>
            <th>Games</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Runs</th>
            <th>Errors</th>
            <th>Park</th>
            </tr>
        </thead>
      {% for i in range(teams|length)%}
      <tr>
        <td>{{ (cur_page - 1) * 10 + i + 1}}</td>
        <td>{{ teams[i].yearID }}</td>
        <td>{{ teams[i].lgID }}</td>
        <td>{{ teams[i].teamID }}</td>
        <td>{{ teams[i].name }}</td>
        <td>{{ teams[i].Rank }}</td>
        <td>{{ teams[i].LgWin }}</td>
        <td>{{ teams[i].G }}</td>
        <td>{{ teams[i].W }}</td>
        <td>{{ teams[i].L }}</td>
        <td>{{ teams[i].R }}</td>
        <td>{{ teams[i].E }}</td>
        <td>{{ teams[i].park }}</td>
        <td>
          <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Operations
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">  <!-- Dropdown menu for operations -->
              <a class="dropdown-item" style="cursor:pointer" data-bs-toggle="modal" data-bs-target="#teamModal"
                 data-bs-yearID="{{teams[i].yearID}}" data-bs-lgID="{{teams[i].lgID}}"
                 data-bs-teamID="{{teams[i].teamID}}" data-bs-name="{{teams[i].name}}"
                 data-bs-Rank="{{teams[i].Rank}}" data-bs-LgWin="{{teams[i].LgWin}}"
                 data-bs-G="{{teams[i].G}}" data-bs-W="{{teams[i].W}}"
                 data-bs-L="{{teams[i].L}}" data-bs-R="{{teams[i].R}}"
                 data-bs-E="{{teams[i].E}}" data-bs-park="{{teams[i].park}}"
                 data-bs-title="Update Team"
                 data-bs-url="{{url_for('update_team', page_num=cur_page, yearID = teams[i].yearID, lgID = teams[i].lgID, teamID = teams[i].teamID)}}">Update</a>  <!-- Update button -->
              <a class="dropdown-item" href="{{url_for('del_team', page_num=cur_page, yearID = teams[i].yearID, lgID = teams[i].lgID, teamID = teams[i].teamID)}}">Delete</a>  <!-- Delete button -->

            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </table>
    <div class="modal fade" id="teamModal" tabindex="-1" aria-labelledby="teamModalLabel" aria-hidden="true"> <!-- Modal for update and add -->
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="teamModalLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form method="post" id="formTeam">
            <div class="modal-body">
              <div class="mb-3">
                <label for="yearID" class="col-form-label">Year:</label>
                <input type="text" class="form-control" id="yearID" name="yearID">
              </div>
              <div class="mb-3">
                <label for="lgID" class="col-form-label">League:</label>
                <input type="text" class="form-control" id="lgID" name="lgID">
              </div>
              <div class="mb-3">
                <label for="teamID" class="col-form-label">Team ID:</label>
                <input type="text" class="form-control" id="teamID" name="teamID">
              </div>
              <div class="mb-3">
                <label for="name" class="col-form-label">Name:</label>
                <input type="text" class="form-control" id="name" name="name">
              </div>
              <div class="mb-3">
                <label for="Rank" class="col-form-label">Rank:</label>
                <input type="text" class="form-control" id="Rank" name="Rank">
              </div>
              <div class="mb-3">
                <label for="LgWin" class="col-form-label">League Win:</label>
                <input type="text" class="form-control" id="LgWin" name="LgWin">
              </div>
              <div class="mb-3">
                <label for="G" class="col-form-label">Games:</label>
                <input type="text" class="form-control" id="G" name="G">
              </div>
              <div class="mb-3">
                <label for="W" class="col-form-label">Wins:</label>
                <input type="text" class="form-control" id="W" name="W">
              </div>
              <div class="mb-3">
                <label for="L" class="col-form-label">Losses:</label>
                <input type="text" class="form-control" id="L" name="L">
              </div>
              <div class="mb-3">
                <label for="R" class="col-form-label">Runs:</label>
                <input type="text" class="form-control" id="R" name="R">
              </div>
              <div class="mb-3">
                <label for="E" class="col-form-label">Errors:</label>
                <input type="text" class="form-control" id="E" name="E">
              </div>
              <div class="mb-3">
                <label for="park" class="col-form-label">Park:</label>
                <input type="text" class="form-control" id="park" name="park">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-xl">
        <ul class="pagination justify-content-center mt-5">
          <li class="page-item"><a class="page-link" href="{{ url_for('teams_page', page_num=1, error='False') }}"> << </a> </li>
          <li class="page-item"><a class="page-link" href="{{ url_for('teams_page', page_num=(1, cur_page - 1)|max, error='False') }}"> < </a> </li>
          <li class="page-item page-item disabled"><a class="page-link"> {{cur_page}} </a></li>
          <li class="page-item"><a class="page-link" href="{{ url_for('teams_page', page_num=(num_pages, cur_page + 1)|min, error='False') }}"> > </a></li>
          <li class="page-item"><a class="page-link" href="{{ url_for('teams_page', page_num=num_pages, error='False') }}"> >> </a></li>
        </ul>
      </div>
    <div class="d-grid gap-2 col-5 mx-auto ">  <!-- Add team button -->
      <a class="btn btn-success text-center btn-lg mt-4 mb-5" data-bs-toggle="modal" data-bs-target="#teamModal" data-bs-title="Add Team"
         data-bs-url="{{url_for('add_team', page_num=cur_page, teamID = teamID)}}"> Add Team </a>
    </div>

    <script type="text/javascript">
      var teamModal = document.getElementById('teamModal') // Display teams data in the modal at the update operation
      teamModal.addEventListener('show.bs.modal', function (event) {

        var button = event.relatedTarget

        var yearID = button.getAttribute('data-bs-yearID')
        var lgID = button.getAttribute('data-bs-lgID')
        var teamID = button.getAttribute('data-bs-teamID')
        var name = button.getAttribute('data-bs-name')
        var Rank = button.getAttribute('data-bs-Rank')
        var LgWin = button.getAttribute('data-bs-LgWin')
        var G = button.getAttribute('data-bs-G')
        var W = button.getAttribute('data-bs-W')
        var L = button.getAttribute('data-bs-L')
        var R = button.getAttribute('data-bs-R')
        var E = button.getAttribute('data-bs-E')
        var park = button.getAttribute('data-bs-park')
        var title = button.getAttribute('data-bs-title')
        var url = button.getAttribute('data-bs-url')

        var modalYearID = teamModal.querySelector('#yearID')
        var modalLgID = teamModal.querySelector('#lgID')
        var modalTeamID = teamModal.querySelector('#teamID')
        var modalName = teamModal.querySelector('#name')
        var modalRank = teamModal.querySelector('#Rank')
        var modalLgWin = teamModal.querySelector('#LgWin')
        var modalG = teamModal.querySelector('#G')
        var modalW = teamModal.querySelector('#W')
        var modalL = teamModal.querySelector('#L')
        var modalR = teamModal.querySelector('#R')
        var modalE = teamModal.querySelector('#E')
        var modalPark = teamModal.querySelector('#park')
        var modalTitle = teamModal.querySelector('#teamModalLabel')
        var modalForm = teamModal.querySelector('#formTeam')

        modalYearID.value = yearID
        modalLgID.value = lgID
        modalTeamID.value = teamID
        modalName.value = name
        modalRank.value = Rank
        modalLgWin.value = LgWin
        modalG.value = G
        modalW.value = W
        modalL.value = L
        modalR.value = R
        modalE.value = E
        modalPark.value = park
        modalTitle.textContent = title
        modalForm.action = url
      })

      if ( window.history.replaceState ) {  // Prevent confirm submission alerts from the browser
        window.history.replaceState( null, null, window.location.href );
      }
    </script>
{% endblock %}